body {
     /*dark theme*/
    background-color: #555666;
    color: white;
    -webkit-app-region: drag;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.row {
    text-align: center;
    align-content: center;
    align-items: center;
    border: 1px solid;
    border-left: 0;
    border-right: 0;
    display: block;
    cursor: default;
}

.row + .row {
    border-top: 0;
}

#desktop-button:hover {
    color: #f97b7b;
    display: block;
    -webkit-app-region: no-drag;
}

#downloads-button:hover {
    color: #de72ff;
    display: block;
    -webkit-app-region: no-drag;
}

#choose-button:hover {
    color: #5ddaff;
    display: block;
    -webkit-app-region: no-drag;
}